# plaid envs
access_token=<access_token>
client_id=<client_id>
secret=<secret>
# pipedream url
base_url=<pipedream_url>
# where to store db file
data_dir=<data_dir>
environment=<development OR sandbox> # optional
label_accounts=<true OR false> # optional