# where to store db file
data_dir=<data_dir>


# notion
notion_secret=<notion_secret>
notion_db=<notion_db>
# Add a custom property in the Notion format
# Example: {'Category': {'type': 'multi_select', 'multi_select': [{'name': '\u2754Uncategorized'}]}}
# Example with multiple: "{'Category': {'type': 'multi_select', 'multi_select': [{'name': '\u2754Uncategorized'}]}, 
                            'Comment': {'type': 'rich_text', 'rich_text': [{'type': 'text', 'text': { 'content': 'Hello World' }}]}}"


# Docs: https://developers.notion.com/reference/database#database-property
custom_property=<custom_property>


# Teller preferences
teller_enabled=<True or False>
teller_account_id=<teller_account_id>
teller_access_token=<teller_access_token>
teller_cert_path=<teller_cert_path>
teller_key_path=<teller_key_path>

# expense name or a comma-separated list of expense names to ignore
excluded=<exclude>