# where to store db file
data_dir=<data_dir>


# notion
notion_secret=<notion_secret>
notion_db=<notion_db>
# Add a custom property in the Notion format
# Example: {'Category': {'type': 'multi_select', 'multi_select': [{'name': '\u2754Uncategorized'}]}}
# Example with multiple: "{'Category': {'type': 'multi_select', 'multi_select': [{'name': '\u2754Uncategorized'}]}, 
                            'Comment': {'type': 'rich_text', 'rich_text': [{'type': 'text', 'text': { 'content': 'Hello World' }}]}}"


# Docs: https://developers.notion.com/reference/database#database-property
custom_property=<custom_property>

# SimpleFin
simplefin_username=<simplefin_username>
simplefin_password=<simplefin_password>
include_pending=<True or False>

# expense name or a comma-separated list of expense names to ignore
excluded=<exclude>